<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../css/add-stocks.css">
    <title>Add Stocks</title>
</head>

<body ng-app="myApp">
    <div ng-controller="myCtrl">
        <p>
            <label>UserName:
                <input type="text" name="UserName" ng-model="username">
            </label>
        </p>
        <p>
            <label>Stocks:
                <input type="text" name="Stocks" ng-model="stocks">
            </label>
        </p>
        <p>
            <input type="submit" name="ADD" value="ADD" ng-click="addStocks()">
            <input type="submit" name="GetStocks" value="GetStocks" ng-click="getStocks()">
        </p>
        {{stockQuotes}}
    </div>


    <script src="../js/lib/angular.min.js" type="text/javascript"></script>

    <script>
    var app = angular.module('myApp', []);


    app.controller('myCtrl', function($scope, $http) {

    	//get stockQuotes
    	$scope.getStocks = function(){

    		$http.get("http://localhost:8761/api/db-service/rest/db/userstockquotes/" + $scope.username)
    		.then(function(response){
    			console.log("Getting Stock Quotes call successful");
    			$scope.stockQuotes = response.data;
    		}, function(response){
    				console.log("Error occured while getting stocks");
    				$scope.stockQuotes = "";
    			});
    	};

    	//add stocks
    	$scope.addStocks = function(){

    		var dataToAdd = {
    			userName: $scope.username,
    			quotes: [$scope.stocks]
    		};
    		$http.post("http://localhost:8761/api/db-service/rest/db/userstockquotes/add" , dataToAdd)
    		.then(function(response){
    			console.log("Getting Stock Quotes call successful");
    			$scope.stockQuotes = response.data;
    		}, function(response){
    				console.log("Error occured while getting stocks");
    				$scope.stockQuotes = "";
    			});
    	};
    });
    </script>
</body>

</html>